body {
    color: #999;
}

.goblin-game {
    width: 800px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.goblin {
    width: 150px;
    height: 150px;
    margin: 0 15px 30px;
    background: gray;
    border-radius: 50%;
}

  .goblin_active {
    background-image: url(https://github.com/netology-code/ahj-homeworks/raw/simplification/dom/pic/goblin.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    background-color: brown;
}





